body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    padding: 8px 16px;
}

#navlogo {
    height: 32px;
}

h1 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
}

#banner {
    width: 100%;
    object-fit: cover;
    height: 360px;
}

#about {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
}

#description {
    width: 50%;
    padding: 0;
}

#team {
    width: 50%;
    object-fit:cover;
    border-radius: 20px;
}

h2 {
    margin-top: 32px;
    text-align: center;
}

#jobs {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    margin-bottom: 8px;
}

#footer {
    background-color:#eee;
    padding: 16px;
    margin-top: 32px;
    text-align: center;
}

#footer-links {
    list-style: none;
}

#footer-links li {
    display: inline;
    margin: 16px;
}

a{
    text-decoration: none;
}

#copyright {
    color: gray;
}

.location {
    color: gray;
}